include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				//- menu
				+menu
				
				//- banner modulo 1
				+banner-video('banner-mod-1')
				
				h2 Módulo 1 / 
					span Carga de la Enfermedad para el Sistema de Salud
					
				h3 5. ¿Cuáles son los resultados clínicos posteriores a una fractura?
				
				p Haber presentado una fractura previa es un factor de riesgo bien documentado para una futura fractura. Las mujeres con una fractura previa tienen 84% más riesgo de tener una fractura posterior. (Kanis JA, et al. 2004)
				p Al rededor del 45% de las mujeres con fractura de cadera reportan fractura por fragilidad previa. (McLellan AR, et al. 2004)
				p Todas las fracturas osteoporóticas están asociadas con una morbilidad significativa; sin embargo, las fracturas de cadera y vertebrales también están asociadas con una mayor mortalidad. Tanto en hombres como en mujeres se ha demostrado un exceso de mortalidad hasta cinco años después de presentarse fracturas de fémur o cadera. 
				p Complicaciones como infección o tromboembolismo, comorbilidades coexistentes y complicaciones derivadas de la cirugía, contribuyen a ese exceso de mortalidad en fracturas vertebrales y de cadera. (González LA, 2009).
				p Posterior a una fractura de cadera se han descrito diferentes desenlaces clínicos en el siguiente año tales como: 20 % de mortalidad, 30% de discapacidad permanente, 40% de los pacientes presentan dificultades para caminar solos, hasta un 80% no pueden realizar una actividad habitual por si solos. Adicionalmente las tasas de mortalidad en mujeres que han tenido una fractura son mayores en comparación con la población general, de acuerdo con la edad Ver figura No 3 y 4. (Cooper C. et al. 1997)
				
				
				//- imagen o video				
				div.banner-video
					div.span8
						div#video
							figure.galeria
								a.example-image-link(href='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/osteoporosis-amgen/images/mod1/0004.png' data-lightbox='example-1')
									img.example-image(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/osteoporosis-amgen/images/mod1/0004.png' alt='image-1')
					div.span4
						div.img-footer
							span Figura No 3. Desenlaces clínicos posteriores a una fractura. (Adaptado de Cooper C. The crippling consequences of fractures and their impact on quality of life. Am J Med. 1997;103(2A):12S-17S; discussion 17S-19S)
							
							
				//- imagen o video				
				div.banner-video
					div.span8
						div#video
							figure.galeria
								a.example-image-link(href='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/osteoporosis-amgen/images/mod1/0005.png' data-lightbox='example-1')
									img.example-image(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/osteoporosis-amgen/images/mod1/0005.png' alt='image-1')
					div.span4
						div.img-footer
							span Figura No 4. Riesgo de mortalidad posterior a una fractura relacionado con edad. (Adaptado de Bliuc D, Nguyen ND, Milch VE, et al. Mortality risk associated with low-trauma osteoporotic fracture and subsequent fracture in men and women.JAMA. 2009;301(5):513)
				
						
				
				//- Material modulo
				+material-modulo('material-mod-1')
										
				//- footer section
				+footer-interno
				
				//- progrso y contador
				+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=296499&chapterid=8890', 'back', 'Anterior', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=296499&chapterid=8892', 'forward', 'Siguiente')
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			