include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- banner modulo 1
				+banner-image
			
				//- menu
				+menu
				
				p Bienvenidos a nuestro diplomado, la la Universidad El Bosque y AMGEN es muy importante contar con usted. Lo invitamos a leer los lineamientos en los que encontrará la guía a cadémica y de navegación en el curso.
				
							
	//- footer section			
	+footer-interno
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			