include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				//- menu
				+menu
				
				//- banner modulo 3
				+banner-video('banner-mod-4')
				
				+titulos-modulo('Módulo 4 / ', 'Estrategias óptimas de tratamiento de la osteoporosis postmenopáusica')
					
				h3 4. ¿Cuál debe ser el tratamiento farmacológico de la osteoporosis?
				
				p Los medicamentos empleados en el tratamiento de la osteoporosis, están divididos en antiresortivos (reducen el remodelamineto oseo) y osteoformadores o anabólicos (estimulan los osteoblastos para formar nuevo hueso) (ver tabla No 1). Estos medicamentos han mostrado mejorar la DMO y reducir el riesgo de fracturas (Camacho P., et al, 2016) (Cosman F., et al 2014).
				
				//- Table
				table.table.table-striped
					caption Tabla No 1. Clasificación de los medicamentos empleados en el tratamiento de la OP
					thead
						tr
							th Antiresortivos
							th Anabólicos
					tbody
						tr
							td Bisfosfonatos:
								br/ Alendronato
								br/ Risedronato
								br/ Ibandronato
								br/ Ácido zoledrónico
							td(rowspan="4") Teriparatide
								br/ Abaloparatide
						tr
							td Biológicos:
								br/ Denosumab 
						tr
							td SERM
								br/ Raloxifeno
						tr
							td Estrógenos:
								br/ Estrógenos equinos conjugados
						tr
							td(colspan="2") 
								small SERM: modulador selectivo de los receptores estrogénicos (MSRE)
								
				p A la fecha han sido aprobados por la FDA para uso clínico en la prevención y tratamiento de la osteoporosis alendronato, risedronato, ibandronato, ácido zoledrónico, raloxifeno, denosumab y teriparatide, y solo para prevención, los estrógenos (ver tabla No 2). 
				
				//- Table
				table.table.table-striped
					caption Tabla No 2. Medicamentos aprobados por la FDA usados para la prevención y tratamiento de la osteoporosis
					thead
						tr
							th INDICACIÓN
							th MEDICAMENTO
							th DOSIS
							th VIA DE ADMINISTRACIÓN
							th EFICACIA ANTI-FRACTURA
					tbody
						tr
							td Prevención
							td Estrógenos equinos conjugados
							td 0.15-1.25 mg/día
							td Oral
							td Vertebral, no vertebral y cadera
						tr
							td(rowspan="6") Prevención y tratamiento
							td Alendronato
							td 35-70mg /sem
							td Oral
							td Vertebral, no vertebral y cadera
						tr
							td Risedronato
							td 35 mg/sem o 150 mensual
							td Oral
							td Vertebral, no vertebral y cadera
						tr
							td(rowspan="2") Ibandronato 
							td 150 mg/mensual
							td Oral
							td(rowspan="2") Vertebral
						tr
							td 3 mg/cada 3 meses
							td Intravenoso
						tr
							td Ácido zoledrónico
							td 5 mg/anual
							td Intravenoso
							td Vertebral, no vertebral y cadera
						tr
							td Raloxifeno
							td 60 mg/día
							td Oral
							td Vertebral
						tr
							td(rowspan="2") Tratamiento
							td Denosumab
							td 60 mg/cada 6 meses
							td Subcutánea
							td Vertebral, no vertebral y cadera
						tr
							td Teriparatide
							td 20 mcg/día
							td Subcutánea
							td Vertebral, no vertebral
				
				//- Material modulo
				+material-modulo('material-mod-4')
										
				//- footer section
				+footer-interno
				
				//- progrso y contador
				+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=299998&chapterid=8934', 'back', 'Anterior', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=299998&chapterid=8936', 'forward', 'Siguiente')
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			