include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- menu
				+menu
				
				//- banner modulo 3
				+banner-video('banner-mod-4')
				
				+titulos-modulo('Módulo 4 / ', 'Estrategias óptimas de tratamiento de la osteoporosis postmenopáusica')
					
				h3 Managing Osteoporosis in Patients on Long-Term Bisphosphonate Treatment: Report of a Task Force of the American Society and Mineral Research
				
				div.banner-video.wow.fadeInUp
					div.span12
						div#video
							div.embed-container
								iframe(src="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/osteoporosis-amgen/pdf/mod4/Adler_et_al-2015-Journal_of_Bone_and_Mineral_Resea.pdf" frameborder="0" allowfullscreen)


	//- Material modulo
	+material-modulo('material-mod-4')
							
	//- footer section
	+footer-interno
	
	//- progrso y contador
	+menu-simple
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			