include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				//- menu
				+menu
				
				//- banner modulo 3
				+banner-video('banner-mod-6')
				
				+titulos-modulo('Módulo 6 / ', 'Estrategias de Prevención Secundaria de Fracturas por Fragilidad (FLS)')
					
				h3 5. Servicios de enlace para el tratamiento de fracturas.
				
				h4 Brecha de atención posterior a la fractura por fragilidad
				
				p Como ya se comentó, desde la década de los 80s, sabemos que la mitad de los pacientes que presentan fracturas de cadera ya habían sufrido fracturas por fragilidad anteriormente. Puede tratarse de una fractura de muñeca cuando todavía trabajaban y estaban entre 50 y 60 años, una fractura de húmero proximal cercana a su jubilación y tenían entre 60 y 70 años, o una fractura vertebral al alzar a un nieto en el festejo de su cumpleaños al estar entre la 7º y 8º décadas de la vida. Es así como, dos meta-análisis concluyeron que una fractura previa en cualquier parte del esqueleto se relaciona con un doble riesgo de sufrir futuras fracturas. Por lo tanto, una fractura conlleva a otra fractura.
				p Considerando que el antecedente de haber sufrido una fractura por fragilidad predispone al paciente a un riesgo mayor de sufrir fracturas futuras, la población mundial a riesgo de fracturarse crece de manera exponencial, relacionado con el envejecimiento global.
				p Actualmente, en muy pocos lugares existen datos sobre incidencia de la segunda fractura. Sin embargo, estudios recientes de la IOF ofrecen estimaciones de la incidencia actual de las fracturas de cadera, lo cual brinda una indicación de la potencial escalada del impacto de la segunda fractura (International Osteoporosis Foundation, 2011). El estudio “Asian Audit” realizado por la IOF estimó la incidencia de las fracturas de cadera en China, India y Japón en 687000, 440000 y 117900 casos por año respectivamente. Los estudios “Eastern European and Central Asian Audit” y “Middle East and Africa Audit” llevados a cabo por la IOF, muestran, además la cruda realidad de los parámetros actuales de la atención y prevención de las fracturas por fragilidad en estas regiones (International Osteoporosis Foundation, 2011). En Brasil, el estudio BRAZOS indica que el 15% de las mujeres y el 13% de los hombres mayores de 40 años tienen antecedentes de fracturas por fragilidad 27. Dado que la composición demográfica de estas poblaciones cambia drásticamente en las próximas décadas, la incidencia de las fracturas por fragilidad aumentará (British Orthopaedic Association & British Geriatrics Society, 2007; Eisman, J., et al, 2004; International Osteoporosis Foundation, 2010; International Osteoporosis Foundation, 2011; Pinheiro, M.M., et al, 2009; Marsh, D., et al, 2011).
				p La mitad de los pacientes con fractura de cadera han sufrido fracturas por fragilidad anteriormente. Una sexta parte de la población femenina posmenopáusica ha sufrido una fractura por fragilidad (Marsh, D., et al, 2011).
				p En conjunto, estas observaciones ilustran la necesidad de implementar estrategias de prevención secundaria de fracturas. La mitad de todas las personas que sufrirán fracturas de cadera acuden a una consulta clínica antes de haberse fracturado la cadera, debido al hecho de haber padecido una fractura por fragilidad previa. Este grupo representa una porción pequeña de toda la población que podría recibir tratamiento inmediato a fin de reducir el riesgo de sufrir fracturas futuras (Marsh, D., et al, 2011).; Mitchell, P. J, 2011).  
				p Durante las últimas dos décadas, varios tipos de intervenciones terapéuticas fueron evaluadas mediante ensayos clínicos, a gran escala que demostraron ser eficaces en cuanto a la reducción efectiva de fracturas (Cranney, A., et al, 2002; Ensrud, K.E., et al 1997; Nymark T., et al, 2006; Lönnroos, E., et al, 2007; Lawrence, T.M., et al, 2012; Bouxsein, M.L., et al, 2004; Cosman, F., et al, 2014). Un meta-análisis de los principales agentes autorizados para el tratamiento de la osteoporosis en todo el mundo sugiere que es posible lograr una reducción entre el 30 y 50% de la incidencia de las fracturas en un período de 3 años mediante el uso de farmacoterapia (Cranney, A., et al, 2002). Se demostró una eficacia del 50% en la reducción de fracturas durante igual período de tratamiento en pacientes con antecedentes de fracturas múltiples (Ensrud, K.E., et al 1997). Actualmente, existe una amplia variedad de agentes efectivos en comprimidos que pueden tomarse de manera diaria, semanal o mensual o en inyecciones que pueden aplicarse a diario o cada tres, seis o doce meses (Nymark T., et al, 2006).  A esto se le suma la posibilidad de modificar hábitos alimenticios, personales, sociales y familiares, que también previenen fracturas por fragilidad (Cosman, F., et al, 2014).
				p La prestación regular de prevención secundaria en base a evidencia a pacientes que presentan antecedentes de fracturas por fragilidad ofrece una gran oportunidad de romper el ciclo de las fracturas por fragilidad. Cuando los pacientes presentan una fractura por fragilidad que no es de cadera, se debe realizar un determinado esfuerzo para evitar la segunda y siguientes fracturas, en especial, en la cadera (National Osteoporosis Guideline Group, 2008). En la mitad de los pacientes con fracturas de cadera, este tipo de fractura será la primera fractura clínicamente aparente. Estos individuos tienen un alto riesgo de sufrir una segunda fractura de cadera. De igual modo, la prevención para evitar una segunda fractura debe ofrecerse de manera regular a los pacientes con fracturas de cadera (National Osteoporosis Guideline Group, 2008; Kanis, J. A., et al, 2008; Papaioannou, A., et al, 2012). 
				p Un estudio de 2011 calculó el costo financiero que representa una segunda fractura para el sistema de salud de los Estados Unidos. El costo anual proyectado a nivel nacional ascendía aproximadamente a 2000 millones de dólares, 834 millones de dólares en el caso de pacientes con seguro privado y 1130 millones de dólares para pacientes dentro del sistema Medicare (Bunta, A.D., 2011; American Academy of Orthopaedic Surgeons & American Association of Orthopaedic Surgeons, 2009). 
				p Estos estudios ilustran los parámetros actuales de prevención para evitar una segunda fractura. Se evidencia un común denominador. Dos revisiones sistemáticas de la información han intentado comprender por qué la prevención no se ofrece responsablemente (National Institute for Health and Clinical Excellence, 2008; NICE, 2010; Health, Australian Government Department of Health, 2006; PHARMAC, 2012). En el informe de 2004, Elliot-Gibson y colaboradores identificaron las siguientes cuestiones: 
				
				//- Tabs
				div.bs-docs
					ul#myTab.nav.nav-tabs
						li.active
							a(href='#1' data-toggle='tab') 1
						li
							a(href='#2' data-toggle='tab') 2
						li
							a(href='#3' data-toggle='tab') 3
						li
							a(href='#4' data-toggle='tab') 4
						li
							a(href='#5' data-toggle='tab') 5
						li
							a(href='#6' data-toggle='tab') 6
						li
							a(href='#7' data-toggle='tab') 7
						li
							a(href='#8' data-toggle='tab') 8
					div#myTabContent.tab-content
						div.tab-pane.fade.active.in#1
							p Preocupaciones por los costos relacionados con el diagnóstico y el tratamiento.
						div.tab-pane.fade#2
							p El tiempo necesario para el diagnóstico y la detección de casos.
						div.tab-pane.fade#3
							p Preocupaciones relacionadas con la polifarmacia.
						div.tab-pane.fade#4
							p Falta de claridad sobre en quién recae la responsabilidad clínica. En una revisión posterior realizada por Giangregorio y colaboradores publicada en 2006 se identificaron los siguientes patrones de atención.
						div.tab-pane.fade#5
							p El tratamiento se ofrecía con mayor frecuencia a pacientes con fracturas vertebrales en comparación con los pacientes que no presentaban fracturas vertebrales. (Giangregorio, L., et al, 2006)
						div.tab-pane.fade#6
							p Era más probable que los pacientes de edad avanzada fueran diagnosticados con osteoporosis, aunque era más probable que los pacientes más jóvenes recibieran tratamiento. 
						div.tab-pane.fade#7
							p Era menos probable que los hombres recibieran tratamiento en comparación con las mujeres.
						div.tab-pane.fade#8
							p En pocas oportunidades se realiza una evaluación de las caídas pos- fractura y raramente se informan como resultado de los estudios.
							
							
				p Estas revisiones sugieren que, sin importar el tipo de sistema de salud, los pacientes que presentan fracturas generalmente no reciben el tratamiento adecuado para prevenir una segunda fractura. La diferencia entre las tasas de tratamiento para pacientes con fracturas vertebrales en relación con aquellos que no presentan fracturas vertebrales es notable dado que la mayoría de las fracturas vertebrales no recibe atención clínica (Delmas, P.D., et al, 2005; Gehlbach, S.H., et al, 2000). 
				p El problema relacionado con la falta de claridad sobre en quién recae la responsabilidad clínica es primordial (Harrington, J. 2006). La descripción metafórica del Dr. Timothy Harrington tuvo repercusión junto con la experiencia de los médicos en muchos países (Harrington, J. 2006): ¨La atención de la osteoporosis de los pacientes con fracturas se ha representado como el triángulo de las bermudas integrado por ortopedistas traumatólogos, médicos de atención primaria y expertos en osteoporosis dentro del cual desaparece el paciente que sufre la fractura” (Harrington, J. 2006).
				p Los médicos del Reino Unido, intentaron comprender la desconexión entre los cirujanos ortopedistas y los médicos de atención primaria, las dos circunscripciones clínicas aparentemente mejor posicionadas para brindar prevención para evitar una segunda fractura. En este estudio se consultó a los cirujanos ortopedistas y a los médicos clínicos sobre cuál era su práctica clínica habitual en relación con la investigación de la osteoporosis en tres escenarios clínicos: 
				
				
				//- Tabs
				div.bs-docs
					ul#myTab.nav.nav-tabs
						li.active
							a(href='#9' data-toggle='tab') 1
						li
							a(href='#10' data-toggle='tab') 2
						li
							a(href='#11' data-toggle='tab') 3
					div#myTabContent.tab-content
						div.tab-pane.fade.active.in#9
							p Una mujer de 55 años con fractura de Colles de bajo traumatismo. 
						div.tab-pane.fade#10
							p Una mujer de 60 años con fractura por acuñamiento vertebral. 
						div.tab-pane.fade#11
							p Una mujer de 70 años con fractura en el cuello del fémur de bajo traumatismo. 
							
							
				p Los profesionales consultados (81% de cirujanos ortopedistas y 96% de médicos clínicos) reconocieron que los pacientes con fractura por fragilidad deberían, en principio, ser evaluados para detectar la presencia de osteoporosis. Sin embargo, en el caso de la fractura de Colles, la mayoría de los cirujanos ortopedistas (56%) daría el alta al paciente sin pedirle estudios para detectar la presencia de osteoporosis. Ante este escenario, la mayoría de los médicos clínicos se abstendría de adoptar algún tipo de medida ya que asumen que los cirujanos ortopedistas habrían realizado los estudios si los consideraran adecuados (45%) o solicitaría estudios únicamente si el cirujano ortopedista así lo hubiera indicado (19%). Solo el 7% de los cirujanos ortopedistas y el 32% de los médicos clínicos evaluarían y/o iniciarían tratamientos por propia decisión. 
				p Las respuestas fueron similares en el caso de las fracturas de cadera; el 66% de los cirujanos ortopedistas daría de alta al paciente sin la realización de estudios para detectar la presencia de osteoporosis mientras que el 40% de los médicos clínicos archivaría el caso y otro 19% de médicos clínicos iniciaría los estudios únicamente si éstos hubieran sido recomendados por el cirujano ortopedista. Particularmente, en el caso de las fracturas por acuñamiento vertebral, una porción minoritaria de cirujanos ortopedistas (29%) daría de alta al paciente sin algún tipo de medida que fuera el factor detonante para una evaluación, mientras que la mayoría de los médicos clínicos (58%) evaluaría y/o iniciaría un tratamiento por decisión propia como rutina (McLelan, A.R. et al, 2003; Wright SA., et al 2005; Clunie, G., & Stephenson, S., 2008; Premaor, M.O., et al, 2009; Wallace, I. et al, 2011; Bodou, L. et al, 2011; Huntjens, K.M.B. et al, 2010; Cooper, M.S. et al, 2011; Inderjeeth, C. A., et al, 2010; Lih, A. et al, 2010; Bogoch, E.R. 2006)
				
				//- Material modulo
				+material-modulo('material-mod-6')
										
				//- footer section
				+footer-interno
				
				//- progrso y contador
				+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=308951&chapterid=9161', 'back', 'Anterior', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=308951&chapterid=9163', 'forward', 'Siguiente')
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			