include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				//- menu
				+menu
				
				//- banner modulo 3
				+banner-video('banner-mod-6')
				
				+titulos-modulo('Módulo 6 / ', 'Estrategias de Prevención Secundaria de Fracturas por Fragilidad (FLS)')
					
				h3 9. Bibliografía
				
				ol
					li American Academy of Orthopaedic Surgeons & American Association of Orthopaedic Surgeons. (2009). Position Statement: Recommendations for Enhancing the Care of Patients with Fragility Fractures. Rosemount, Illinois.
					li Australian Bureau of Statistics. (2011). Main features - new south wales. Retrieved from  
						a(href='https://www.abs.gov.au/ausstats/abs@.nsf/Products/3235.0~2010~Main+Features~New+South+Wales?OpenDocument' target='_blank')      https://www.abs.gov.au/ausstats/abs@.nsf/Products/3235.0~2010~Main+Features~New+South+Wales?OpenDocument
					li Blonk, M. C., Erdtsieck, R. J., Wernekinck, M. G. A., & Schoon, E. J. (2007). The fracture and osteoporosis clinic: 1-year results and 3-month compliance. Bone, 40(6), 1643–1649.doi:10.1016/j.bone.2007.01.023
					li Bogoch, E. R. (2006). Effective Initiation of Osteoporosis Diagnosis and Treatment for Patients with a Fragility Fracture in an Orthopaedic Environment. The Journal of Bone and Joint Surgery (American), 88(1), 25.doi:10.2106/jbjs.e.00198 
					li Boudou, L., Gerbay, B., Chopin, F., Ollagnier, E., Collet, P., & Thomas, T. (2011). Management of osteoporosis in fracture liaison service associated with long-term adherence to treatment. Osteoporosis International, 22(7), 2099–2106. doi:10.1007/s00198-011-1638-6
					li Bouxsein, M. L., Kaufman, J., Tosi, L., Cummings, S., Lane, J., & Johnell, O. (2004). Recommendations for optimal care of the fragility fracture patient to reduce the risk of future fracture. The Journal of the American Academy of Orthopaedic Surgeons, 12(6), 385-395
					li British Orthopaedic Association & British Geriatrics Society, (2007). The care of patients with fragility fracture (Blue Book). 
					li Bunta, A. D. (2011). It is time for everyone to own the bone. Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 22 Suppl 3, 477-482. doi:10.1007/s00198-011-1704-0
					li Carpintero, P., Gil-Garay, E., Hernández-Vaquero, D., Ferrer, H., & Munuera, L. (2009). Interventions to improve inpatient osteoporosis management following first osteoporotic fracture: the PREVENT project. Archives of Orthopaedic and Trauma Surgery, 129(2), 245–250.doi:10.1007/s00402-008-0809-1 
					li Centre for Population Health (2011). Policy Directive: Falls - Prevention of Falls and Harm from Falls among Older People: 2011-2015. New South Wales Government. Department of Health, ed. North Sydney
					li Clunie, G., & Stephenson, S. (2008). Implementing and running a fracture liaison service: An integrated clinical service providing a comprehensive bone health assessment at the point of fracture management. Journal of Orthopaedic Nursing, 12(3-4), 159–165. doi:10.1016/j.joon.2008.09.001
					li Cooper, C., Mitchell, P., & Kanis, J. A. (2011). Breaking the fragility fracture cycle. Osteoporosis International, 22(7), 2049–2050.doi:10.1007/s00198-011-1643-9
					li Cooper, M. S., Palmer, A. J., & Seibel, M. J. (2011). Cost-effectiveness of the Concord Minimal Trauma Fracture Liaison service, a prospective, controlled fracture prevention study. Osteoporosis International, 23(1), 97–107. doi:10.1007/s00198-011-1802-z 
					li Cosman, F., de Beur, S., LeBoff, M., Lewiecki, E., Tanner, B., Randall, S., & Lindsay, R. (2014). Clinician’s guide to prevention and treatment of osteoporosis. Osteoporosis International, 25(10), 2359-2381. doi:10.1007/s00198-014-2794-2
					li Cranney, A., Guyatt, G., Griffith, L., Wells, G., Tugwell, P., & Rosen, C. (2002). Meta-analyses of therapies for postmenopausal osteoporosis. IX: Summary of meta-analyses of therapies for postmenopausal osteoporosis. Endocrine Reviews, 23(4), 570-578. doi:10.1210/er.2001-9002
					li Cummings, S. R., & Melton, L. J. (2002). Epidemiology and outcomes of osteoporotic fractures. Lancet (London, England), 359(9319), 1761-1767. doi:10.1016/S0140-6736(02)08657-9
					li Dell, R., Greene, D., Schelkun, S. R., & Williams, K. (2008). Osteoporosis Disease Management: The Role of the Orthopaedic Surgeon. The Journal of Bone and Joint Surgery-American Volume, 90(Suppl 4), 188–194.doi:10.2106/jbjs.h.00628 
					li Delmas, P. D., van de Langerijt, L., Watts, N. B., Eastell, R., Genant, H., Grauer, A., & Cahall, D. L. (2005). Underdiagnosis of vertebral fractures is a worldwide problem: The IMPACT study. Journal of Bone and Mineral Research: The Official Journal of the American Society for Bone and Mineral Research, 20(4), 557-563. doi:10.1359/JBMR.041214
					li Edwards, B. J., Bunta, A. D., Simonelli, C., Bolander, M., & Fitzpatrick, L. A. (2007). Prior fractures are common in patients with subsequent hip fractures.Clinical Orthopaedics and Related Research, 461, 226-230. doi:10.1097/BLO.0b013e3180534269
					li Eisman, J., Clapham, S., & Kehoe, L. (2004). Osteoporosis prevalence and levels of treatment in primary care: The australian BoneCare study. Journal of Bone and Mineral Research: The Official Journal of the American Society for Bone and Mineral Research, 19(12), 1969-1975. doi:10.1359/JBMR.040905
					li Elliot-Gibson, V., Bogoch, E. R., Jamal, S. A., & Beaton, D. E. (2004). Practice patterns in the diagnosis and treatment of osteoporosis after a fragility fracture: A systematic review. Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 15(10), 767-778. doi:10.1007/s00198-004-1675-5
					li Ensrud, K. E., Black, D. M., Palermo, L., Bauer, D. C., Barrett-Connor, E., Quandt, S. A., . . . Karpf, D. B. (1997). Treatment with alendronate prevents fractures in women at highest risk: Results from the fracture intervention trial. Archives of Internal Medicine, 157(22), 2617-2624.
					li Gallagher, J. C., Melton, L. J., Riggs, B. L., & Bergstrath, E. (1980). Epidemiology of fractures of the proximal femur in rochester, minnesota. Clinical Orthopaedics and Related Research, (150), 163-171.
					li Gauthier, A., Kanis, J. A., Jiang, Y., Martin, M., Compston, J. E., Borgström, F., . . . McCloskey, E. V. (2011). Epidemiological burden of postmenopausal osteoporosis in the UK from 2010 to 2021: Estimations from a disease model. Archives of Osteoporosis, 6, 179-188. doi:10.1007/s11657-011-0063-y
					li Gehlbach, S. H., Bigelow, C., Heimisdottir, M., May, S., Walker, M., & Kirkwood, J. R. (2000). Recognition of vertebral fracture in a clinical setting.Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 11(7), 577-582. doi:10.1007/s001980070078 
					li Giangregorio, L., Papaioannou, A., Cranney, A., Zytaruk, N., & Adachi, J. D. (2006). Fragility fractures and the osteoporosis care gap: An international phenomenon. Seminars in Arthritis and Rheumatism, 35(5), 293-305. doi:10.1016/j.semarthrit.2005.11.001
					li Greene, D., & Dell, R. M. (2010). Outcomes of an osteoporosis disease-management program managed by nurse practitioners. Journal of the American Academy of Nurse Practitioners, 22(6), 326–329.doi:10.1111/j.1745-7599.2010.00515.x 
					li Harrington, J. T., Barash, H. L., Day, S., & Lease, J. (2005). Redesigning the care of fragility fracture patients to improve osteoporosis management: A health care improvement project. Arthritis & Rheumatism, 53(2), 198–204. doi:10.1002/art.21072 
					li Harrington, J. (2006). Dilemmas in providing osteoporosis care for fragility fracture patients. US Musculoskeletal Review - Touch Briefings. II:64-65.
					li Health, Australian Government Department of Health. (2006). Pharmaceutical benefits scheme (PBS) | PBS extension to benefit osteoporosis patientsAustralian Government Department of Health. Retrieved from  
						a(href='http://www.pbs.gov.au/info/news/2006/12/alendronate' target='_blank')      http://www.pbs.gov.au/info/news/2006/12/alendronate
					li Huntjens, K. M. B., van Geel, T. A. C. M., Blonk, M. C., Hegeman, J. H., van der Elst, M., Willems, P., … van Helden, S. H. (2010). Implementation of osteoporosis guidelines: a survey of five large fracture liaison services in the Netherlands. Osteoporosis International, 22(7), 2129–2135.doi:10.1007/s00198-010-1442-8 
					li Huntjens, K. M. B., van Geel, T. C. M., Geusens, P. P., Winkens, B., Willems, P., van den Bergh, J., … van Helden, S. (2011). Impact of guideline implementation by a fracture nurse on subsequent fractures and mortality in patients presenting with non-vertebral fractures. Injury, 42, S39–S43.doi:10.1016/s0020-1383(11)70011-0
					li Inderjeeth, C. A., Glennon, D. A., Poland, K. E., Ingram, K. V., Prince, R. L., Van, V. R., & Holman, C. D. J. (2010). A multimodal intervention to improve fragility fracture management in patients presenting to emergency departments. The Medical Journal of Australia, 193(3), 149-153
					li International Osteoporosis Foundation, 2009. The asian audit.  Epidemiology, costs, & burden of osteoporosis in Asia.   
						a(href='http://www.iofbonehealth.org' target='_blank')      www.iofbonehealth.org 
					li International Osteoporosis Foundation, (2010). The Eastern European & Central Asian Regional Audit: Epidemiology, costs & burden of osteoporosis in 2010.   
						a(href='http://www.iofbonehealth.org' target='_blank')      www.iofbonehealth.org
					li International Osteoporosis Foundation, 2011. The Middle East & Africa Regional Audit: Epidemiology, costs & burden of osteoporosis in 2011.   
						a(href='http://www.iofbonehealth.org' target='_blank')      www.iofbonehealth.org
					li International Osteoporosis Foundation. (2017) Capture the fracture. A global campaign to break the fragility fracture cycle.  OPTIMAL (Osteoporosis Patient Targeted and Integrated Management for Active Living) Programme. National Healthcare Group. 
					li Johansen, Antony  & Parker, Martyn (2006). Hip Fracture and Orthogeriatrics. In: Pathy MSJ, Sinclair AJ, Morley JE, eds. Principles and Practice of Geriatric Medicine. Vol 4th Edition; 1329-1345. 
					li Johnell, O., & Kanis, J. A. (2004). An estimate of the worldwide prevalence, mortality and disability associated with hip fracture. Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 15(11), 897-902. doi:10.1007/s00198-004-1627
					li Johnell, O., & Kanis, J. A. (2006). An estimate of the worldwide prevalence and disability associated with osteoporotic fractures. Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 17(12), 1726-1733. doi:10.1007/s00198-006-0172-4
					li Kanis, J. A., Oden, A., Johnell, O., Jonsson, B., de Laet, C., & Dawson, A. (2001). The burden of osteoporotic fractures: A method for setting intervention thresholds. Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 12(5), 417-427. doi:10.1007/s001980170112
					li Kanis, J. A., Johnell, O., De Laet, C., Johansson, H., Oden, A., Delmas, P., . . . Tenenhouse, A. (2004). A meta-analysis of previous fracture and subsequent fracture risk. Bone, 35(2), 375-382. doi:10.1016/j.bone.2004.03.024
					li Kanis, J. A., Johnell, O., Oden, A., Borgstrom, F., Zethraeus, N., De Laet, C., & Jonsson, B. (2004). The risk and burden of vertebral fractures in sweden.Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 15(1), 20-26. doi:10.1007/s00198-003-1463-7
					li Kanis, J. A., & Johnell, O. (2005). Requirements for DXA for the management of osteoporosis in europe. Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 16(3), 229-238. doi:10.1007/s00198-004-1811-2
					li Kanis, J. A., Burlet, N., Cooper, C., Delmas, P. D., Reginster, J. -., Borgstrom, F., & Rizzoli, R. (2008). European guidance for the diagnosis and management of osteoporosis in postmenopausal women. Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 19(4), 399-428. doi:10.1007/s00198-008-0560-z
					li Kanis, J. A., McCloskey, E. V., Johansson, H., Cooper, C., Rizzoli, R., & Reginster, J. -. (2013). European guidance for the diagnosis and management of osteoporosis in postmenopausal women. Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 24(1), 23-57. doi:10.1007/s00198-012-2074-y
					li Klotzbuecher, C. M., Ross, P. D., Landsman, P. B., Abbott, T. A., & Berger, M. (2000). Patients with prior fractures have an increased risk of future fractures: A summary of the literature and statistical synthesis. Journal of Bone and Mineral Research: The Official Journal of the American Society for Bone and Mineral Research, 15(4), 721-739. doi:10.1359/jbmr.2000.15.4.721
					li Lawrence, T. M., Wenn, R., Boulton, C. T., & Moran, C. G. (2010). Age-specific incidence of first and second fractures of the hip. The Journal of Bone and Joint Surgery. British Volume, 92(2), 258-261. doi:10.1302/0301-620X.92B2.23108
					li Lih, A., Nandapalan, H., Kim, M., Yap, C., Lee, P., Ganda, K., & Seibel, M. J. (2010). Targeted intervention reduces refracture rates in patients with incident non-vertebral osteoporotic fractures: a 4-year prospective controlled study. Osteoporosis International, 22(3), 849–858. doi:10.1007/s00198-010-1477-x 
					li Lönnroos, E., Kautiainen, H., Karppi, P., Hartikainen, S., Kiviranta, I., & Sulkava, R. (2007). Incidence of second hip fractures. A population-based study.Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 18(9), 1279-1285. doi:10.1007/s00198-007-0375-3
					li Marsh, D., Akesson, K., Beaton, D. E., Bogoch, E. R., Boonen, S., Brandi, M. -., . . . Wahl, D. A. (2011). Coordinator-based systems for secondary prevention in fragility fracture patients. Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 22(7), 2051-2065. doi:10.1007/s00198-011-1642-x
					li McCloskey, Eugene. (2009) International Osteoporosis Foundation, WHO Fracture Risk Assessment Tool, & informed treatment decisions.FRAX® identifying people at high risk of fracture. 
					li McLellan, A. R., Gallacher, S. J., Fraser, M., & McQuillian, C. (2003). The fracture liaison service: success of a program for the evaluation and management of patients with osteoporotic fracture. Osteoporosis International, 14(12), 1028–1034.doi:10.1007/s00198-003-1507-z 
					li McLellan, Alastair R. Reid D, Forbes K, et al. (2004). Effectiveness of strategies for the secondary prevention of osteoporotic fractures in scotland. (CEPS 99/03): NHS Quality Improvement Scotland.
					li McLellan, A. R., Wolowacz, S. E., Zimovetz, E. A., Beard, S. M., Lock, S., McCrink, L., … Roberts, D. (2011). Fracture liaison services for the evaluation and management of patients with osteoporotic fracture: a cost-effectiveness evaluation based on data collected over 8 years of service provision. Osteoporosis International, 22(7), 2083–2098.doi:10.1007/s00198-011-1534-0 
					li Mitchell, P. J. (2011). Fracture liaison services: The UK experience. Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 22 Suppl 3, 487-494. doi:10.1007/s00198-011-1702-2
					li Morley, John E., M.B., B.Ch. (2009). Falls and fractures, Effective interventions in health and social care. Journal of the American Medical Directors Association, 8(5), 276-278. 
					li National Institute for Health and Clinical Excellence, (2008). Alendronate, etidronate, risedronate, raloxifene, & strontium ranelate for the primary prevention of osteoporotic fragility fractures in postmenopausal women (amended). NICE technology appraisal guidance 160 (amended)
					li National Osteoporosis Guideline Group. (2008) Osteoporosis: UK clinical guideline for the prevention and treatment.
					li National Institute for Health and Care Excellence. (2010). Overview | denosumab for the prevention of osteoporotic fractures in postmenopausal women | guidance | NICE. Retrieved from   
						a(href='https://www.nice.org.uk/guidance/ta204' target='_blank')      https://www.nice.org.uk/guidance/ta204
					li Newman, E. D., Ayoub, W. T., Starkey, R. H., Diehl, J. M., & Wood, G. C. (2003). Osteoporosis disease management in a rural health care population: Hip fracture reduction and reduced costs in postmenopausal women after 5 years. Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 14(2), 146-151. doi:10.1007/s00198-002-1336-5
					li Nymark, T., Lauritsen, J. M., Ovesen, O., Röck, N. D., & Jeune, B. (2006). Short time-frame from first to second hip fracture in the funen county hip fracture study. Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 17(9), 1353-1357. doi:10.1007/s00198-006-0125-y
					li Papaioannou, A., Morin, S., Cheung, A. M., Atkinson, S., Brown, J. P., Feldman, S., . . . Leslie, W. D. (2010). 2010 clinical practice guidelines for the diagnosis and management of osteoporosis in canada: Summary. CMAJ: Canadian Medical Association Journal = Journal De L'Association Medicale Canadienne, 182(17), 1864-1873. doi:10.1503/cmaj.100771
					li PHARMAC (2012). Pharmaceutical schedule. Wellington: Pharmaceutical Management Agency
					li Pinheiro, M. M., Ciconelli, R. M., Martini, L. A., & Ferraz, M. B. (2009). Clinical risk factors for osteoporotic fractures in brazilian women and men: The brazilian osteoporosis study (BRAZOS). Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 20(3), 399-408. doi:10.1007/s00198-008-0680-5
					li Port, L., Center, J., Briffa, N. K., Nguyen, T., Cumming, R., & Eisman, J. (2003). Osteoporotic fracture: Missed opportunity for intervention. Osteoporosis International: A Journal Established as Result of Cooperation between the European Foundation for Osteoporosis and the National Osteoporosis Foundation of the USA, 14(9), 780-784. doi:10.1007/s00198-003-1452-xvan Staa, T. P., Dennison, E. M., Leufkens, H. G. M., & Cooper, C. (2001). Epidemiology of fractures in england and wales. Bone, 29(6), 517-522. doi:10.1016/S8756-3282(01)00614-7
					li Premaor, M. O., Pilbrow, L., Tonkin, C., Adams, M., Parker, R. A., & Compston, J. (2009). Low rates of treatment in postmenopausal women with a history of low trauma fractures: results of audit in a Fracture Liaison Service. QJM, 103(1), 33–40.doi:10.1093/qjmed/hcp154
					li Rockville (MD): Office of the Surgeon General (US). (2004). Bone health and osteoporosis: A report of the surgeon general. Rockville (MD): Office of the Surgeon General (US). Retrieved from  
						a(href='http://www.ncbi.nlm.nih.gov/books/NBK45513/' target='_blank')      http://www.ncbi.nlm.nih.gov/books/NBK45513/
					li Sander, B., Elliot-Gibson, V., Beaton, D. E., Bogoch, E. R., & Maetzel, A. (2008). A Coordinator Program in Post-Fracture Osteoporosis Management Improves Outcomes and Saves Costs. The Journal of Bone & Joint Surgery, 90(6), 1197–1205.doi:10.2106/jbjs.g.0098 
					li Skelton DA, Neil F. (2009). NHS Greater Glasgow and Cycle Strategy for Osteoporosis and Falls Prevention 2006-2010. An evaluation 2007-2009. 
					li Ström, O., Borgström, F., Kanis, J. A., Compston, J., Cooper, C., McCloskey, E. V., & Jönsson, B. (2011). Osteoporosis: burden, health care provision and opportunities in the EU. Archives of Osteoporosis, 6(1-2), 59–155. doi:10.1007/s11657-011-0060-1
					li Vaile, J., Sullivan, L., Bennett, C., & Bleasel, J. (2007). First Fracture Project: addressing the osteoporosis care gap. Internal Medicine Journal, 37(10), 717–720. doi:10.1111/j.1445-5994.2007.01496.x  
					li Van Helden, S., Cauberg, E., Geusens, P., Winkes, B., van der Weijden, T., & Brink, P. (2007). The fracture and osteoporosis outpatient clinic: an effective strategy for improving implementation of an osteoporosis guideline. Journal of Evaluation in Clinical Practice, 13(5), 801–805. doi:10.1111/j.1365-2753.2007.00784.x 
					li Wallace, I., Callachand, F., Elliott, J., & Gardiner, P. (2011). An evaluation of an enhanced fracture liaison service as the optimal model for secondary prevention of osteoporosis. JRSM Short Reports, 2(2), 1–6.doi:10.1258/shorts.2010.010063
					li Wright, S. A., McNally, C., Beringer, T., Marsh, D., & Finch, M. B. (2005). Osteoporosis fracture liaison experience: the Belfast experience. Rheumatology International, 25(6), 489–490. doi:10.1007/s00296-004-0573-7 
				
				
								
				//- Material modulo
				+material-modulo('material-mod-6')
										
				//- footer section
				+footer-interno
				
				//- progrso y contador
				+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=308951&chapterid=9163', 'back', 'Anterior', '#', 'disabled', 'Siguiente')
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			