include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- menu
				+menu
				
				//- banner modulo 3
				+banner-video('banner-mod-6')
				
				+titulos-modulo('Módulo 6 / ', 'Estrategias de Prevención Secundaria de Fracturas por Fragilidad (FLS)')
					
				h3 Osteoporosis anf the orthopaedic surgeon: basic concepts for succesful co-management of patients' bone health
				
				div.banner-video.wow.fadeInUp
					div.span12
						div#video
							div.embed-container
								iframe(src="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/osteoporosis-amgen/pdf/mod6/Osteoporosis-and-the-orthopaedic-surgeon-basic-concepts.pdf" frameborder="0" allowfullscreen)


	//- Material modulo
	+material-modulo('material-mod-6')
							
	//- footer section
	+footer-interno
	
	//- progrso y contador
	+menu-simple
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			