include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				//- menu
				+menu
				
				//- banner modulo 3
				+banner-video('banner-mod-3')
				
				+titulo-modulo-3
				
				p 
					strong Dr. Jorge Castillo:
					| Médico Internista y Endocrinólogo de la Universidad Nacional de Colombia. Jefe de la Unidad de Metabolismo y Hormonas de Compensar EPS. Jefe de la Unidad de Endocrinología Los Cobos Medical Center, Bogotá.
					
				h3 1. Introducción 
				
				p La osteoporosis es una enfermedad multi componente, con una gran carga genetica, pero que además se asocia a factores de riesgo, y que por lo tanto permite implementar medidas de prevencion primaria. Su deteccion temprana es fundamental en la prevencion de la fractura que termina siendo el descenlace no deseado; por lo tanto el medico debe implementar medidas que nos ayuden a identificar precozmente la osteoporosis y que en utimas conduzcan a la prevencion primaria y secundaria de la fractura.
					
				h3 2. Objetivos
				
				p Al finalizar el módulo el participante estará en capacidad de:
				
				//- Tabs
				div.bs-docs
					ul#myTab.nav.nav-tabs
						li.active
							a(href='#1' data-toggle='tab') 1
						li
							a(href='#2' data-toggle='tab') 2
						li
							a(href='#3' data-toggle='tab') 3
					div#myTabContent.tab-content
						div.tab-pane.fade.active.in#1
							p Identificar los factores de riesgo para desarrollar la osteoporosis, para implementar en la comunidad, medidas que ayuden a impactar su prevencion.
						div.tab-pane.fade#2
							p Manejar herramientas que permitan cuantifcar el riesgo de fractura, ya sea la sumatoria de riesgos con o sin la medicion de la masa ósea.
						div.tab-pane.fade#3
							p Concientizar al medico en la necesidad de identificar las fracturas osbre todo vertebrales, para hacer una intervención oportuna con el fin de prevenir la re-fractrua.
						
				
				//- Material modulo
				+material-modulo('material-mod-3')
										
				//- footer section
				+footer-interno
				
				//- progrso y contador
				+paginador('#', 'disabled', 'Anterior', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=299791&chapterid=8917', 'forward', 'Siguiente')
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			