include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				//- menu
				+menu
				
				//- banner modulo 3
				+banner-video('banner-mod-5')
				
				+titulos-modulo('Módulo 5 / ', 'Tratamiento farmacológico combinado, secuencial y Adherencia terapéutica')
				
				p 
					strong GERALDINE ALTAMAR CANALES
					| Especialista en Medicina Interna- Geriatría Clínica Universidad de Caldas. Especialista en Gerencia de Servicios de Salud Universidad Cooperativa de Colombia. Profesor auxiliar de especialización de Geriatría Clínica- Universidad del Valle
					
				h3 1. Objetivos de Aprendizaje
				
				//- Tabs
				div.bs-docs
					ul#myTab.nav.nav-tabs
						li.active
							a(href='#1' data-toggle='tab') 1
						li
							a(href='#2' data-toggle='tab') 2
						li
							a(href='#3' data-toggle='tab') 3
					div#myTabContent.tab-content
						div.tab-pane.fade.active.in#1
							p Conocer la utilidad de la terapia farmacológica combinada y secuencial en el tratamiento de la osteoporosis postmenopáusica.
						div.tab-pane.fade#2
							p Determinar la importancia de la adherencia y cumplimiento en la reducción del riesgo de fractura en el tratamiento de la osteoporosis postmenopáusica. 
						div.tab-pane.fade#3
							p Identificar las estrategias para el seguimiento y adherencia de los pacientes en el tratamiento de la osteoporosis postmenopáusica. 
							
							
				h3 2. Introducción 
				
				p La osteoporosis postmenopáusica es una enfermedad crónica, que requiere tratamiento pues persiste durante toda la vida. La deficiencia de estrógenos como causa primaria origina aumento del remodelado óseo y por esto es necesario el uso de terapia farmacológica (Miller, P. D. 2007). Es necesario reconocer la causalidad de la enfermedad y el riesgo de vida para fracturas por fragilidad, pues después de los 50 años se presentan por lo menos en el 50 % en mujeres y 20% en hombres, lo cual genera alta morbilidad, mortalidad, además de altos costos económicos para los adultos mayores, su familia y el sistema sociosanitario (Composton JE & Seeman E., 2006). Por lo tanto, necesitamos identificar a los individuos con alto riesgo de fractura, con el fin de indicar el planteamiento terapéutico que sea costo efectivo y tan favorable que permita asegurarnos que los pacientes tomen su tratamiento como se indica. Por lo menos la mitad de los pacientes no son adherentes a la terapia farmacológica en el primer año y más de dos terceras partes después del tercer año. La mayoría de los pacientes, pierden su adherencia a la terapia farmacológica en los tres primeros meses, esto asociado a una tasa alta de fracturas comparados con aquellos que son cumplidos en terapia. Es por esto que necesitamos reconocer las causas y consecuencias de la pobre adherencia, lo cual es el propósito del siguiente modulo.   (Compston, J. E., & Seeman, E., 2006). 
						
				
				//- Material modulo
				+material-modulo('material-mod-5')
										
				//- footer section
				+footer-interno
				
				//- progrso y contador
				+paginador('#', 'disabled', 'Anterior', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=300080&chapterid=8952', 'forward', 'Siguiente')
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			