include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				//- menu
				+menu
				
				//-banner modulo 1
				+banner-imagen
				
				h2 Módulo 0 / 
					span Carta bienvenida Amgen
					
				//- h3 Cronograma
				
				//- Table
				h3 Bienvenido(a) al Diplomado Virtual de Osteoporosis
				
				p Estimado(a) Doctor(a):
				
				p Siendo usted un médico dedicado al cuidado de los pacientes con Osteoporosis y riesgo de fractura por fragilidad, necesita tener todos los conocimientos básicos y clínicos que le permitan tomar las mejores decisiones para su paciente. 
				p Con el fin de apoyar este empeño, Amgen se ha asociado con la Universidad El Bosque, una de las Instituciones Universitarias más prestigiosas de Colombia, para crear una novedosa actividad de Educación Médica Continuada. Se trata de un Diplomado 100% Virtual en el Área de Osteoporosis, el cual le entregará todos los elementos -desde las ciencias básicas hasta los últimos avances terapéuticos-, que le servirán para tomar decisiones prácticas, aterrizadas al entorno clínico y basadas en la última evidencia científica disponible para tratar adecuadamente la Osteoporosis y el riesgo de fractura por fragilidad. 
				p Amgen le agradece por su decisión de ser parte de esta iniciativa, y se complace en patrocinar su participación, esperando que pueda llevar a cabo el Diplomado en su totalidad, obtener su certificación, y adquirir así, un poderoso conocimiento que le permitirá impactar en las vidas de sus pacientes y en el sistema de salud como tal.
				
				p Cordial Saludo,
				
				h3 Luz Andrea Ramirez MD, MPH
				
				p Director Médico
					br/ Inflamación
					
				p Amgen Biotecnológica 
					br/ Colombia
					
				h3 Nubia Hernandez Hussein MD, Esp
				
				p Gerente Médico Area Hueso/
					
				p Amgen Biotecnológica 
					br/ Colombia
							
										
				//- footer section
				+footer-interno
				
				//- progrso y contador
				+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=303119&chapterid=9060', 'back', 'Anterior', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=303119&chapterid=9076', 'forward', 'Siguiente')
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			