include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				//- menu
				+menu
				
				//-banner modulo 1
				+banner-imagen
				
				h2 Módulo 0 / 
					span Cronograma
					
				//- h3 Cronograma
				
				//- Table
				table.table.table-striped
					thead
						tr
							th Módulos
							th Actividades
							th Inicio
							th Cierre
							th Porcentaje
					tbody
						tr
							td Módulo 0
							td(colspan='3') 22 de Julio - 28 de Julio
							td 
							
						//- Inicio modulo	
						tr
							td(rowspan='5') Módulo 1
							td(colspan='3') 29 de Julio - 12 de Agosto
							td 
						tr
							td Revisión de contenidos
							td(colspan='2') 29 de Julio
							td 4%
						tr
							td Video conferencia
							td(colspan='2') 8 de Agosto 7 a 9 p.m.
							td 2%
						tr
							td Caso Clínico
							td(colspan='2') 29 de Julio
							td 2%
						tr
							td Evaluación
							td(colspan='2') 9 de Agosto
							td 4%
							
						//- Inicio modulo	
						tr
							td(rowspan='5') Módulo 2
							td(colspan='3') 12 de Agosto - 26 de Agosto
							td 
						tr
							td Revisión de contenidos
							td(colspan='2') 12 de Agosto
							td 4%
						tr
							td Video conferencia
							td(colspan='2') 22 de Agosto 7 a 9 pm
							td 2%
						tr
							td Caso Clínico
							td(colspan='2') 12 de Agosto
							td 2%
						tr
							td Evaluación
							td(colspan='2') 23 de Agosto
							td 4%
							
						//- Inicio modulo	
						tr
							td(rowspan='5') Módulo 3
							td(colspan='3') 26 de Agosto - 9 de Septiembre
							td 
						tr
							td Revisión de contenidos
							td(colspan='2') 26 de Agosto
							td 4%
						tr
							td Video conferencia
							td(colspan='2') 5 de Septiembre 7 a 9 p.m.
							td 2%
						tr
							td Caso Clínico
							td(colspan='2') 26 de Agosto
							td 2%
						tr
							td Evaluación
							td(colspan='2') 6 de Septiembre
							td 4%
							
						//- Inicio modulo	
						tr
							td(rowspan='5') Módulo 4
							td(colspan='3') 9 de Septiembre - 23 de Septiembre
							td 
						tr
							td Revisión de contenidos
							td(colspan='2') 9 de Septiembre 
							td 4%
						tr
							td Video conferencia
							td(colspan='2') 19 de Septiembre 7 a 9 p.m.
							td 2%
						tr
							td Caso Clínico
							td(colspan='2') 9 de Septiembre
							td 2%
						tr
							td Evaluación
							td(colspan='2') 20 de Septiembre
							td 4%
							
						//- Inicio modulo	
						tr
							td(rowspan='5') Módulo 5
							td(colspan='3') 23 de Septiembre - 7 de Octubre
							td 
						tr
							td Revisión de contenidos
							td(colspan='2') 23 de Septiembre
							td 4%
						tr
							td Video conferencia
							td(colspan='2') 3 de Octubre 7 a 9 p.m.
							td 2%
						tr
							td Caso Clínico
							td(colspan='2') 23 de Septiembre
							td 2%
						tr
							td Evaluación
							td(colspan='2') 4 de Octubre
							td 4%
							
						//- Inicio modulo	
						tr
							td(rowspan='5') Módulo 6
							td(colspan='3') 7 de Octubre - 21 de Octubre
							td 
						tr
							td Revisión de contenidos
							td(colspan='2') 7 de Octubre
							td 4%
						tr
							td Video conferencia
							td(colspan='2') 17 de Octubre 7 a 9 p.m.
							td 2%
						tr
							td Caso Clínico
							td(colspan='2') 7 de Octubre
							td 2%
						tr
							td Evaluación
							td(colspan='2') 18 de Octubre
							td 4%
							
						//- Inicio modulo	
						tr
							td(rowspan='5') Módulo 7
							td(colspan='3') 21 de Octubre - 4 de Noviembre
							td
						tr
							td Revisión de contenidos
							td(colspan='2') 21 de Octubre
							td 4%
						tr
							td Video conferencia
							td(colspan='2') 30 de Octubre 7 a 9 p.m.
							td 2%
						tr
							td Caso Clínico
							td(colspan='2') 21 de Octubre
							td 2%
						tr
							td Evaluación
							td(colspan='2') 31 de Octubre
							td 4%
							
						//- Inicio modulo	
						tr
							td(rowspan='5') Módulo 8
							td(colspan='3') 4 de Noviembre - 15 de Noviembre
							td 
						tr
							td Revisión de contenidos
							td(colspan='2') 21 de Octubre
							td 4%
						tr
							td Video conferencia
							td(colspan='2') 12 de Noviembre 7 a 9 p.m.
							td 2%
						tr
							td Caso Clínico
							td(colspan='2') 4 de Noviembre
							td 2%
						tr
							td Evaluación
							td(colspan='2') 13 de Noviembre
							td 4%
							
						//- Inicio modulo	
						tr
							td(rowspan='4') Exámen final
							td(colspan='3') 10 al 24 de Noviembre
							td 4%
							
										
				//- footer section
				+footer-interno
				
				//- progrso y contador
				+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=303119&chapterid=9076', 'back', 'Anterior', '#', 'disabled', 'Siguiente')
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			