include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- menu
				+menu
				
				//- banner modulo 3
				+banner-video('banner-mod-8')
				
				+titulos-modulo('M贸dulo 8 / ', 'Modelo de Gesti贸n de Riesgo en Osteoporosis. Responsabilidad de la APS')
					
				h3 Presentaci贸n m贸dulo 8
				
				div.banner-video.wow.fadeInUp
					div.span12
						div#video
							div.embed-container
								iframe(src="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/osteoporosis-amgen/pdf/mod8/Presentacion-Modulo-8-Diplomado-Osteoporosis-Gestion-de-riesgo-V3.pdf" frameborder="0" allowfullscreen)


	//- Material modulo
	+material-modulo('material-mod-8')
							
	//- footer section
	+footer-interno
	
	//- progrso y contador
	+menu-simple
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			